# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

'.source.php':
  # Snippet name
 'VarDump and Die':
   # Snippet trigger
   'prefix': 'vdd'
   'body': 'var_dump($${1:variable}); die(); // DEBUG'
   'description': 'Snippet qui crée une ligne PHP avec un var_dump() et un die()'
   'leftLabelHTML': '<span style="color:#f989ff">Snippet PHP</span>'
   'rightLabelHTML': '<span style="color:#ff0">var_dump() + die()</span>'
